<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Movie Database</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div id="header">
        <div class="pull-right"><a href="login.html" style="padding: 16px 8px; line-height:50px;">Log In</a></div>
        <div class="pull-right"><a href="signup.html" style="padding: 16px 8px; line-height:50px;">Sign Up</a></div>
        <div class="clearfix"></div>
    </div>
    {% block content %}{% endblock %}
</body>
</html>